
.write {
    .title-input-container{
        margin: 16px 0;
    }
    .title-input-container textarea.title{
        
        height: 46px;
        line-height: 46px;
        font-size: 32px;
        font-weight: 700;
        color: #333;
        border: none;
        outline: none;

        
    }
    .BraftEditor-controlBar {
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }

}



