@import 'base';


/**可以根据不同设备调整字体大小**/
@media only screen and (max-width: 767px) {
	.font-xs *{
		font-size: 14px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.font-sm *{
		font-size: 16px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
	.font-md *{
		font-size: 18px;
	}
}
@media only screen and (min-width: 1200px) {
	.font-lg *{
		font-size: 20px;
	}
}

/**响应式显示**/
@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}
@media (min-width: 768px) {
	.hidden-lg {
		display: none !important;
	}
}

/*
================================
  一些组件的基本设置
================================
*/
/**内联列表**/
.list-inline > li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

/*
================================
	基本辅助类
================================
*/
.left{
	float: left;
}
.right{
	float: right;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.fixed{
	position: fixed;
}
.hidden{
	display: none;
}
.block{
	display: block;
}
.inlineblock{
	display: inline-block;
}
.text-center{
	text-align: center;
}
/**状态切换**/
.active {
	color: $global-color;
}
/**清除浮动**/
.clearfix{
	zoom: 1;

	&:before,&:after{
		display: table;
		line-height: 0;
		content: "";
	}
	&:after{
		clear: both;
	}
}
/*
=============================
	一些共同的设置
=============================
*/
/**小图标显示设置（如点赞数、评论数的图标）**/
.icon-set{
	color: #b4b4b4;
	font-size: 14px;
}
/**label**/
.label{
	border: 1px solid #683047;
	padding: 2px 5px;
	border-radius: 5px;

	&:hover{
		border: 1px solid #ea6f5a;
	}
}
.avatar{
	vertical-align: middle;
	margin-right: 5px;
	width: 32px;
	height: 32px;

	img {
		width: 100%;
		height: 100%;
		border: 1px solid #ddd;
		border-radius: 50%;
	}
} 