@import 'base';


/**可以根据不同设备调整字体大小**/
@media only screen and (max-width: 767px) {
	.font-xs *{
		font-size: 14px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.font-sm *{
		font-size: 16px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
	.font-md *{
		font-size: 18px;
	}
}
@media only screen and (min-width: 1200px) {
	.font-lg *{
		font-size: 20px;
	}
}

/**响应式显示**/
@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}
@media (min-width: 768px) {
	.hidden-lg {
		display: none !important;
	}
}

/*
================================
  一些组件的基本设置
================================
*/
/**内联列表**/
.list-inline > li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

/*
================================
	基本辅助类
================================
*/
.left{
	float: left;
}
.right{
	float: right;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.fixed{
	position: fixed;
}
.hidden{
	display: none;
}
.block{
	display: block;
}
.inlineblock{
	display: inline-block;
}
.text-center{
	text-align: center;
}
/**状态切换**/
.active {
	color: $global-color;
}
/**清除浮动**/
.clearfix{
	zoom: 1;

	&:before,&:after{
		display: table;
		line-height: 0;
		content: "";
	}
	&:after{
		clear: both;
	}
}