.card{
  .card-header{
    &>h2{
      text-align: center;
    }
    &>span{
      display: block;
      text-align: right;
    }
  }
  .card-case{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &>li{
      margin-bottom: 40px;
    }
  }
  .loading{
      position: relative;
    }
  @media (min-width: 768px) and (max-width: 970px) {
    .card-case{
      width: 90%;

    }
  }
}