.register{
  $global-color: #683047;
  .form{
    width: 100%;
    .form-item{
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      .form-item-input{
        padding: 5px 10px;
        height: 50px;
        border: 2px solid $global-color;
        border-radius: 10px;
        position: relative;
        display: flex;
        align-items: center;
        input{
          margin-left: 5px;
          width: 90%;
          height: 70%;
          border: none;
          outline: none;
        }
        .react-loading-spinner{
          border-radius: 10px;
          .loading-inner{
            left: 90%;
            display: flex;
            align-items: center;
          }
        }
      }
      .form-item-error{
        position: relative;
        top: 4px;
        left: 8px;
      }
    }
    .submit{
      cursor:pointer;
      position: relative;
      border: none;
      outline: none;
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      margin-top: 15px;
      .react-loading-spinner{

        .loading-inner{
          left: 10%;
          display: flex;
          align-items: center;
        }
      }

    }
    .btn-base{
      cursor:pointer;
      border: none;
      outline: none;
      padding: 10px 20px;
      box-sizing: border-box;
      color: #fff;
      text-align: center;
      background-color: $global-color;
      &:hover{
        background-color: #b4587b;
      }
    }
  }
  .btn-sm{
    position: absolute;
    border-radius: 5px;
    right: 10px;
    font-size: 12px;
  }
  .option{
    text-align: center;
    line-height: 35px;
    li{
      cursor:pointer;
      &:hover{
        color: #ea6f5a;
      }
    }
  }
}
